# Data wrangling and datetimes

Dates and times are a special kind of data type. In this notebook, we will keep exploring the `orders` and `orderlines` datasets from Eniac and learn to deal with them.

In [1]:
import pandas as pd

url = 'https://drive.google.com/file/d/14Y7g5ITyf6LMyPoKc9wr010V9StaCUux/view?usp=sharing' # orderlines.csv
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

df.head()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38

## Data exploration

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

Two variables need to be modified: 

* `unit_price`: it is detected as an object but it has to be a float. Why is that happening? 
* `date`: needs to be transformed to a date-time format. 

For the moment we will only focus on the `date`. Since it contains both the date and the time, we will transform the data type using the pandas method `.to_datetime()`:

In [3]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 15.7+ MB

In [4]:
df.describe()

                 id       id_order  product_id  product_quantity
count  2.939830e+05  293983.000000    293983.0     293983.000000
mean   1.397918e+06  419999.116544         0.0          1.121126
std    1.530096e+05   66344.486479         0.0          3.396569
min    1.119109e+06  241319.000000         0.0          1.000000
25%    1.262542e+06  362258.500000         0.0          1.000000
50%    1.406940e+06  425956.000000         0.0          1.000000
75%    1.531322e+06  478657.000000         0.0          1.000000
max    1.650203e+06  527401.000000         0.0        999.000000

You can count the quantity of observations with `.value_counts()`.

In [ ]:
df['sku'].value_counts()

MIC0036      6282
APP1216      5627
APP0662      5445
APP1190      5039
APP0663      3942
             ...
APP2110         1
TWS0053-A       1
APP1837         1
UAG0026         1
REP0299         1
Name: sku, Length: 7951, dtype: int64

**Exercise**: check whether the dates from the `orderlines` dataset match with the dates on the `orders` dataset.

In [5]:
url = 'https://drive.google.com/file/d/14Y7g5ITyf6LMyPoKc9wr010V9StaCUux/view?usp=sharing' # orderlines.csv
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
order_lines = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1BLEHcP-9fm9Rv7A01H3co2XBMnSr66YC/view?usp=sharing' # orders.csv
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
orders = pd.read_csv(path)

In [92]:
orders['date'] = pd.to_datetime(orders['date'])
order_lines['date'] = pd.to_datetime(order_lines['date'])

merged_df = order_lines.merge(orders, how='left', left_on='id_order', right_on='order_id')

# don't worry if you cannot solve this exercise completely on your own
# your instructor will solve it with you
# but give it a try :)

KeyError: ignored

## Aggregating with pandas

* Grouping and aggregating is one of the main ways to explore data. The main tools to do that with pandas are:
    * [`pandas.DataFrame.groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).
    * [`pandas.DataFrame.agg()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html?highlight=agg#pandas.DataFrame.agg) 
        * [`pandas.DataFrame.count()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html)

In [11]:
df.head()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38

How many products do we have on each sku?

In [13]:
df.groupby('sku').agg({'product_quantity':'count'})

           product_quantity
sku
8MO0001-A                 2
8MO0003-A                 3
8MO0007                  29
8MO0008                  30
8MO0009                  28
...                     ...
ZAG0041                   2
ZAG0042                   1
ZEP0007                   5
ZEP0008                   1
par0072                  12

[7951 rows x 1 columns]

Different levels of aggregation answer different business questions:

- **count**: How many times has each product (identified by its `sku`) been purchased in an order? 

- **sum**: How many units of each product have been sold overall? 

- **mean**: How many units/order are sold for each product?

In [16]:
print(order_lines.head())
df.groupby('sku').agg({'product_quantity':['count', 'sum', 'mean']})

        id  id_order  product_id  product_quantity      sku unit_price  \
0  1119109    299539           0                 1  OTT0133      18.99
1  1119110    299540           0                 1  LGE0043     399.00
2  1119111    299541           0                 1  PAR0071     474.05
3  1119112    299542           0                 1  WDT0315      68.39
4  1119113    299543           0                 1  JBL0104      23.74

                 date
0 2017-01-01 00:07:19
1 2017-01-01 00:19:45
2 2017-01-01 00:20:57
3 2017-01-01 00:51:40
4 2017-01-01 01:06:38

          product_quantity
                     count sum      mean
sku
8MO0001-A                2   2  1.000000
8MO0003-A                3   3  1.000000
8MO0007                 29  30  1.034483
8MO0008                 30  31  1.033333
8MO0009                 28  30  1.071429
...                    ...  ..       ...
ZAG0041                  2   2  1.000000
ZAG0042                  1   1  1.000000
ZEP0007                  5   5  1.000000
ZEP0008                  1   1  1.000000
par0072                 12  13  1.083333

[7951 rows x 3 columns]

`groupby` can also be combined with other pandas functions to analyse in more depth the datasets.

In [19]:
df.groupby('sku')[['sku', 'product_quantity']].describe()

          product_quantity
                     count      mean       std  min  25%  50%  75%  max
sku
8MO0001-A              2.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
8MO0003-A              3.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
8MO0007               29.0  1.034483  0.185695  1.0  1.0  1.0  1.0  2.0
8MO0008               30.0  1.033333  0.182574  1.0  1.0  1.0  1.0  2.0
8MO0009               28.0  1.071429  0.262265  1.0  1.0  1.0  1.0  2.0
...                    ...       ...       ...  ...  ...  ...  ...  ...
ZAG0041                2.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
ZAG0042                1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
ZEP0007                5.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
ZEP0008                1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
par0072               12.0  1.083333  0.288675  1.0  1.0  1.0  1.0  2.0

[7951 rows x 8 columns]

Now let's see how can we combine `.groupby()` and `.aggragate()` with `.sort_values()`.

I would like to see the top 10 most sold products on our data (total product quantity).

In [21]:
(
df
    .groupby('sku')['product_quantity']
    .sum()
    .sort_values(ascending=False).head(10)
)

sku
APP1190    6366
MIC0036    6316
APP1216    5648
APP0662    5487
APP0663    4164
MMW0016    2615
APP0698    2348
SAT0054    2322
APP1214    1985
WDT0183    1978
Name: product_quantity, dtype: int64

How can we sort values with multiple aggregated functions?

In [22]:
(
df
    .groupby('sku')
    .agg({'product_quantity':['sum','count','std','mean','median']})
    .sort_values(('product_quantity','mean'), ascending=False)
)

          product_quantity
                       sum count         std       mean median
sku
APP1917                 32     1         NaN  32.000000   32.0
ADN0039                132     7   47.245559  18.857143    1.0
KIN0137                862    55  107.718263  15.672727    1.0
EVU0013                177    12   47.005077  14.750000    1.0
SEV0028               1122   122   90.353268   9.196721    1.0
...                    ...   ...         ...        ...    ...
APP1546                  1     1         NaN   1.000000    1.0
APP1546-A                4     4    0.000000   1.000000    1.0
MAK0009                  2     2    0.000000   1.000000    1.0
MAK0008                  1     1         NaN   1.000000    1.0
8MO0001-A                2     2    0.000000   1.000000    1.0

[7951 rows x 5 columns]

## Working with date time

We will start by creating a weekday column. You will have to combine two functions, [`pandas.DataFrame.assign()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html) from `pandas` and [`datetime.strftime()`](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior) from `datetime`.

First, let's talk about `.assign()`. It is a useful method for creating new columns:

In [23]:
df.assign(new_colum = 'hi! I am a new column!').head()

,id,id_order,product_id,product_quantity,sku,unit_price,date,new_colum
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,hi! I am a new column!
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45,hi! I am a new column!
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57,hi! I am a new column!
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40,hi! I am a new column!
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38,hi! I am a new column!

A new column often is the result of an operation between other columns in the dataframe:

In [24]:
df.assign(total_price = df['product_quantity'] * df['unit_price']).head()

,id,id_order,product_id,product_quantity,sku,unit_price,date,total_price
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,18.99
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45,399.00
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57,474.05
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40,68.39
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38,23.74

In Pandas, we can extract strings containing elements like the day of the month, the day of the week, the hour of the day... from `datetime` objects. We do so by using `dt.strftime()` in combination with `strftime` syntax. Find the cheat sheet for this syntax [here](https://strftime.org/). 

You'll understand it better with an example. Let's create the weekday column:

In [25]:
df.assign(week_day = df['date'].dt.strftime('%A')).head()

,id,id_order,product_id,product_quantity,sku,unit_price,date,week_day
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,Sunday
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45,Sunday
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57,Sunday
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40,Sunday
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38,Sunday

In [26]:
df['date'].dt.strftime('%B')

0         January
1         January
2         January
3         January
4         January
           ...
293978      March
293979      March
293980      March
293981      March
293982      March
Name: date, Length: 293983, dtype: object

Now we can sort weekdays by amount of sales:

In [27]:
(
df
    .assign(week_day = df['date'].dt.strftime('%A'))
    .groupby('week_day')
    .agg({'product_quantity':['sum','count']})
    .sort_values(('product_quantity','sum'), ascending=False)
)

          product_quantity
                       sum  count
week_day
Monday               57624  50307
Wednesday            54131  47550
Tuesday              50871  44498
Friday               49566  44027
Thursday             48431  43634
Sunday               35667  32857
Saturday             33302  31110

Let's find out the top 1 product (in product quantity) by sku for each weekday:

In [28]:
(
df
    .assign(week_day = df['date'].dt.strftime('%A'))
    .groupby(['week_day','sku'])
    .agg({'product_quantity':'sum'})
    .sort_values('product_quantity', ascending=False)
    .reset_index()
    .groupby('week_day')
    .head(1)
)

     week_day      sku  product_quantity
0      Friday  APP1190              1827
1    Thursday  MIC0036              1389
3     Tuesday  MIC0036              1213
6   Wednesday  SEV0028              1014
10     Monday  APP0663               840
14   Saturday  MIC0036               806
23     Sunday  APP1190               692

In [29]:
df.date

0        2017-01-01 00:07:19
1        2017-01-01 00:19:45
2        2017-01-01 00:20:57
3        2017-01-01 00:51:40
4        2017-01-01 01:06:38
                 ...
293978   2018-03-14 13:57:25
293979   2018-03-14 13:57:34
293980   2018-03-14 13:57:41
293981   2018-03-14 13:58:01
293982   2018-03-14 13:58:36
Name: date, Length: 293983, dtype: datetime64[ns]

When using `pd.to_datetime` to convert "objects" like "28-07-1990 03:30:15" to a proper data type, you have captured both the date and the time. Sometimes, you might only need the date (without the time). An easy way to do this is with `dt.date`:

In [30]:
df.date.dt.date.head(3)

0    2017-01-01
1    2017-01-01
2    2017-01-01
Name: date, dtype: object

Note that these are not actually strings, even thoguht the `dtype` that pandas displays for the whole column is `object`:

In [31]:
df.date.dt.date[0]

datetime.date(2017, 1, 1)

In [32]:
type(df.date.dt.date[0])

datetime.date

You can create these `datetime.date` objects from strings using the module `datetime`. This module has a handful of useful functions for dates and times, [check its documentation here](https://docs.python.org/3/library/datetime.html#date-objects).

In [33]:
import datetime

datetime.date.fromisoformat("1990-07-28")

datetime.date(1990, 7, 28)

What we've outlined here is going to become useful and relevant whenever filtering a DataFrame by date, as you will see in the following challenges:

# CHALLENGES

In [35]:
url = 'https://drive.google.com/file/d/14Y7g5ITyf6LMyPoKc9wr010V9StaCUux/view?usp=sharing' # orderlines.csv
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
order_lines = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1BLEHcP-9fm9Rv7A01H3co2XBMnSr66YC/view?usp=sharing' # orders.csv
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
orders = pd.read_csv(path)

**1. Which are the top 6 orders with the highest number of products sold?**

In [96]:
#orders.head()
order_lines.head()
count = order_lines.groupby('id_order')['product_quantity'].count().reset_index()
count.sort_values('product_quantity', ascending=False).head(6)

        id_order  product_quantity
87729     395611               256
166622    484334               140
2437      301934               131
27493     329309                73
46087     349364                72
70011     375621                70

**2. Which are the top 6 orders for the 1 of July of 2017?**

Combining `.assign()` with `.dt.date` will help you extract the date of a datetime column and use this information to filter it. Use the `datetime` module and its `date.fromisoformat()` method as we showed above.

Here is an example how to filter the first of January 2017.

In [62]:
# Example
df_date = df.assign(date = df['date'].dt.date).copy()
df_date[df_date['date'] == datetime.date.fromisoformat('2017-01-01')]

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01
...,...,...,...,...,...,...,...
612,1120279,300119,0,1,JBL0107,94.99,2017-01-01
613,1120287,300126,0,1,LIF0112,61.74,2017-01-01
614,1120289,300127,0,1,EIZ0017,739.99,2017-01-01
615,1120290,300128,0,1,APP1195,1.193.99,2017-01-01
616,1120291,300129,0,1,OWC0054,19.99,2017-01-01

In [97]:
sum_2 = df_date[df_date['date'] == datetime.date.fromisoformat('2017-01-01')].groupby('id_order')['product_quantity'].count().reset_index()
sum_2.sort_values('product_quantity', ascending=False).head(6)

     id_order  product_quantity
77     299600                 5
149    299680                 5
480    300079                 5
306    299866                 4
482    300081                 4
18     299404                 4

**3. Which is the month with the highest number of units sold?** 

Remember to look at the documentation of [`datetime.strftime()`](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [73]:
df_date_new = df.assign(date = df['date'].dt.strftime('%B-%Y')).copy()
print(max(df.date))
print(min(df.date))
sum_three = df_date_new[df_date_new['date'] == datetime.strftime('%Y')].groupby('date')['product_quantity'].sum().reset_index()
sum_three.sort_values('product_quantity', ascending=False).head(6)

2018-03-14 13:58:36
2017-01-01 00:07:19

             date  product_quantity
12  November-2017             46375
6    January-2018             41950
2   December-2017             39094
5    January-2017             24465
4   February-2018             24257
13   October-2017             18178

In the results there is an enormous differences between some months. Why do you think this is happening? Do we only have one year of data? In case you have multiple years, filter for only years that are complete to find out the best month for that year.

Tip: the output of the function `.dt.strftime()` is a string, so if you use it in a condition it will only match with strings!

In [ ]:
df_date_new = df.assign(date = df['date'].dt.strftime('%B-%Y')).copy()
print(max(df.date))
print(min(df.date))
sum_three = df_date_new.groupby('date')['product_quantity'].sum().reset_index()
sum_three.sort_values('product_quantity', ascending=False).head(6)

**4. For each month, find the day of the week with the highest amount of products sold** 

See below an example of the expected output.

In [115]:
df_date_new = df_date_new.assign(weekdays = df['date'].dt.strftime('%A')).copy()
df_date_new = df_date_new.assign(date_new = df['date'].dt.strftime('%B-%Y')).copy()
df_date_new.groupby(['date_new', 'weekdays'])['product_quantity'].sum().reset_index().sort_values('product_quantity', ascending=False).head(12)

         date_new   weekdays  product_quantity
84  November-2017     Friday              9717
47   January-2018    Tuesday              8403
43   January-2018     Monday              8327
88  November-2017   Thursday              7727
90  November-2017  Wednesday              7137
85  November-2017     Monday              7109
20  December-2017  Wednesday              7010
46   January-2018   Thursday              6952
48   January-2018  Wednesday              6844
18  December-2017   Thursday              5932
19  December-2017    Tuesday              5459
36   January-2017     Monday              5420

In [116]:
df_date = df_date.assign(weekdays = df['date'].dt.strftime('%A')).copy()
df_date = df_date.assign(date_new = df['date'].dt.strftime('%B-%Y')).copy()
df_date_new.groupby(['date_new', 'weekdays'])['product_quantity'].sum().reset_index().sort_values('product_quantity', ascending=False).head(12)

         date_new   weekdays  product_quantity
84  November-2017     Friday              9717
47   January-2018    Tuesday              8403
43   January-2018     Monday              8327
88  November-2017   Thursday              7727
90  November-2017  Wednesday              7137
85  November-2017     Monday              7109
20  December-2017  Wednesday              7010
46   January-2018   Thursday              6952
48   January-2018  Wednesday              6844
18  December-2017   Thursday              5932
19  December-2017    Tuesday              5459
36   January-2017     Monday              5420

In [121]:
df_date = df_date.assign(weekdays = df['date'].dt.strftime('%A')).copy()
df_date = df_date.assign(date_new = df['date'].dt.strftime('%B-%Y')).copy()
df_date_new.groupby(['date_new', 'weekdays'])['product_quantity'].sum().reset_index().sort_values('product_quantity', ascending=False).head(12)

         date_new   weekdays  product_quantity
84  November-2017     Friday              9717
47   January-2018    Tuesday              8403
43   January-2018     Monday              8327
88  November-2017   Thursday              7727
90  November-2017  Wednesday              7137
85  November-2017     Monday              7109
20  December-2017  Wednesday              7010
46   January-2018   Thursday              6952
48   January-2018  Wednesday              6844
18  December-2017   Thursday              5932
19  December-2017    Tuesday              5459
36   January-2017     Monday              5420

In [118]:
#So it doesn’t work - #reset_index at the end: 
df_date = df_date.assign(weekdays = df['date'].dt.strftime('%A')).copy()
df_date = df_date.assign(date_new = df['date'].dt.strftime('%B-%Y')).copy()
df_date_new.groupby(['date_new', 'weekdays'])['product_quantity'].sum().sort_values('product_quantity', ascending=False).head(12).reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only
  after removing the cwd from sys.path.

ValueError: ignored