In [190]:
import pandas as pd

# import cleaned versions of files
orderlines = pd.read_csv("orderlines_clean.csv")
orders = pd.read_csv("orders_clean.csv")
brands = pd.read_csv("brands_clean.csv")
products = pd.read_csv("products_clean.csv")


# set display options: 
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_rows', 1000)

In [191]:
orderlines = orderlines.drop(['check_orders', 'total_price'], axis=1)

In [192]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [193]:
orderlines.head()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99000,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00000,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05000,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39000,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74000,2017-01-01 01:06:38

In [194]:
#df_temp['diff'] =  df_temp["total_paid"] - df_temp["total_price"]

In [195]:
products = products.drop('dots_promo_price', axis=1)
products

,sku,name,desc,price
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99000
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00000
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00000
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00000
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99000
...,...,...,...,...
10574,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99000
10575,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95000
10576,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95000
10577,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95000
10578,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95000

### Create discounts columns on orderlines:

In [196]:
orderlines.head()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99000,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00000,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05000,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39000,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74000,2017-01-01 01:06:38

In [206]:
discounts = (
orderlines
    .filter(["id_order", "sku", "product_quantity", "unit_price", "date"])
    .merge(products.filter(["sku", "desc","name", "category", "brand", "price"]), on="sku", how="left")
    .assign(discount = lambda x: x["price"] - x["unit_price"])
    .assign(disc_perc = lambda x: (1- (x["price"]/ x["unit_price"])) * 100 )
    .dropna()
)
discounts

,id_order,sku,product_quantity,unit_price,date,desc,name,price,discount,disc_perc
0,299539,OTT0133,1,18.99000,2017-01-01 00:07:19,resistant cover and thin beveled edges for iPh...,Otterbox iPhone Case Symmetry 2.0 SE / 5s / 5 ...,34.99000,16.00000,-84.25487
1,299540,LGE0043,1,399.00000,2017-01-01 00:19:45,Monitor for gamers and multimedia professional...,"27UD58-B LG Monitor 27 ""4K UHD DisplayPort",429.00000,30.00000,-7.51880
2,299541,PAR0071,1,474.05000,2017-01-01 00:20:57,cuadricóptero wireless remote control with 25 ...,Parrot Bebop 2 White + Command FLYPAD and FPV ...,699.00000,224.95000,-47.45280
3,299542,WDT0315,1,68.39000,2017-01-01 00:51:40,Internal Hard Drive Western Digital 2TB 3.5-in...,"Blue WD 2TB Hard Drive 35 ""Mac and PC",79.00000,10.61000,-15.51396
4,299543,JBL0104,1,23.74000,2017-01-01 01:06:38,Compact Bluetooth Handsfree for iPhone iPad an...,Gray Bluetooth Speaker JBL GO,29.90000,6.16000,-25.94777
...,...,...,...,...,...,...,...,...,...,...
293738,527398,JBL0122,1,42.99000,2018-03-14 13:57:25,Wireless headphones with folding design with 1...,JBL T450 BT Bluetooth Headset Black,49.95000,6.96000,-16.18981
293739,527399,PAC0653,1,141.58000,2018-03-14 13:57:34,SSD upgrade kit 2008-2010 250 GB MacBook and M...,Samsung SSD 850 expansion kit EVO 250GB + Data...,215.98000,74.40000,-52.54980
293740,527400,APP0698,2,9.99000,2018-03-14 13:57:41,Apple Lightning USB Cable 1 meter to charge an...,Apple Lightning Cable Connector to USB 1m Whit...,25.00000,15.01000,-150.25025
293741,527388,BEZ0204,1,19.99000,2018-03-14 13:58:01,Macbook thin sheath 12 inches.,"Be.ez LArobe Case Mix Macbook 12 ""Green",29.99000,10.00000,-50.02501
293742,527401,APP0927,1,13.99000,2018-03-14 13:58:36,EarPods headphones Apple iPhone iPad and iPod ...,EarPods Apple Headphones with Remote and Mic (...,35.00000,21.01000,-150.17870